VITE_GOOGLE_CLIENT_ID=your-google-client-id
VITE_ADMIN_EMAILS=admin@example.com,dev@example.com

VITE_SUPABASE_URL=http://127.0.0.1:55521
VITE_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-or-anon-key
